body{
	margin:0;
	padding:0;
	
}

div{
	background:linear-gradient(black, lightgrey, black);
	border:5px solid grey;
	width:300px;
	justify-content:center;
	margin:15px 15px;
	align-items:center;
	padding:5px 5px;
}

table tr td input{
                   padding:10px 20px;
                   width:60px;
                   border:1px solid white;
                   background-color:green;
                   color:white;
                   font-size:20px;
                   border-radius:20px;
                   transition:0.4s;
				   margin:5px 5px;
}
table tr td input:hover{
                   background-color:white;
                   color:green;
				   border:1px solid green;
}

table tr td input:active{
	 background:green;
	 transform: translateY(4px);
}

form input{
                   width:225px;
                   margin:15px 20px;
                   padding:12px 10px;
                   border:2px solid white;
                   background:lightgrey;
                   color:black;
                   border-radius:20px;
                   overflow:hidden;
				   font-weight:bold;
}

table tr td input[value=C],input[value=del],input[value='='],input[value='+'],input[value='-']{
	               padding:10px 20px;
                   width:60px;
                   border:1px solid white;
                   background-color:red;
                   color:white;
                   font-size:20px;
                   border-radius:20px;
                   transition:0.2s;
				   margin:5px 5px;
}

table tr td input[value=C]:hover,input[value=del]:hover,input[value='=']:hover,input[value='+']:hover,input[value='-']:hover{
	              background-color:red;
                   color:white;
				   border:1px solid red;
}
